networkx
python-dotenv
jupyterthemes
tqdm>=4.14.0
spacy>=2.0.7
scipy>=1.0.0
keras>=2.1.3
joblib>=0.11
h2o>=3.18.0.1
nbdime>=0.4.1
numba>=0.34.0
gensim>=3.3.0
numpy>=1.13.3
pandas>=0.21.1
pyspark>=2.2.1
seaborn>=0.8.0
logzero>=1.3.1
requests>=2.13.0
watermark>=1.4.0
matplotlib>=2.1.0
tensorflow>=1.5.0
scikit-learn>=0.19.1
knowledge-repo>=0.7.6
jupyter_contrib_nbextensions>=0.4.0
