h2o
networkx
python-dotenv
jupyterthemes
spacy>=1.9.0
joblib>=0.11
tqdm>=4.14.0
keras>=2.0.2
nbdime>=0.3.0
numba>=0.34.0
gensim>=3.0.0
scipy>=0.19.0
numpy>=1.13.3
pandas>=0.20.2
seaborn>=0.8.0
logzero>=1.2.0
watermark>=1.4.0
requests>=2.13.0
matplotlib>=2.1.0
tensorflow>=1.0.1
scikit-learn>=0.19.1
jupyter_contrib_nbextensions>=0.3.1
